<%= form_for(@list) do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br/>

  <%#= f.fields_for :steps do |builder| %>
    <%#= render 'step_fields', f: builder %>
  <%# end %>

  Sub-list
    <% @list.children.each do |sub| %>
      <%= f.fields_for :children, sub do |child| %>
        <%#= child.label :name %>
        <%= child.text_field :name %><br>
        <%= f.select :parent_id, nested_set_options(List, @list) {|i| "#{'-' * i.level} #{i.name}" } %>
        <div class="actions"><%= f.submit "Save" %></div>
      <% end %>
    <% end %>


<%#= link_to_add_fields "Add Step", f, :steps %><br/>
<%= f.submit class: "btn btn-success"%>
<% end %>
