<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<ol>
  <% @list.steps.each do |s| %>
    <li><%= s.text %></li>
  <% end %>
</ol>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
